.App {
  text-align: center;
  margin: 0;
}

.player_form {
  background: blue;
  padding: 2px;
  margin-top: 30px;
}

.player-infor,
.card {
 background: blue;
 margin: auto 55px auto 55px;
}

/* Banner */

#banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2) url('components/img/3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;
  margin-top: 0;
}

#banner h3 {
  border-radius: 8px;
  padding: 0 24px;
  font-size: 24px;
  letter-spacing: 13px; 
}

#banner h1 {
  border-radius: 8px;
  padding: 0 24px;
  font-size: 64px;
  font-weight: bold;
}


#banner p {
  border-radius: 1px;
  padding: 24px;
  font-size: 14px; 
}

.section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-heading {
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
}

.card {
  width: 400px 
}


  .learn_more {
    padding: 8px 24px;
    border: 3px solid white;
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: transparent; 
    color: white;
  }

  .learn_more:hover {
    background: blue;
    text-decoration: none;
    padding: 8px 40px 8px 24px;
    color: white;
}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-color: rgb(18, 19, 18);
    box-shadow: none;
}

.nav-extended{
  margin-bottom: 70px;
}

.nav-content{
  word-wrap: break-word;
}


#footer {
  color: black

}

.player-infor {
  height: 100%;
  width: 400px
}