.App {
  text-align: center;
  margin: 0;
  background: white;
}

/* Navigation */

.nav {
  height: 72px;
  background: rgb(2, 11, 63);
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  z-index: 100;
}

.nav a {
  padding: 0 32px;
  color: #eee;
  transition: 0.4s
}

.nav a:hover {
  text-decoration: none;
  color: blue;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;   
}

.active {
  color: rgb(36, 0, 197);
}

/* #logo-img {
  display: flex;
  height: 100%;
  background: rgb(202, 202, 202);
  padding: 0 32px;
  align-items: center;
  color: white;
  transition: 0.4s;
} */

#logo-img img {
  height: 70px; 
}

/* #logo-img:hover {
  background: black;
} */

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color:#eee;
  display: none;
  align-items: center;
}

/* Slideout Menu*/

#slideout-menu {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

#slideout-menu ul {
  list-style: none;
  padding: 0 32px;
}

#slideout-menu ul {
  list-style: none;
  padding: 0 32px;
}

#slideout-menu ul li {
  padding: 0 32px;
}

#slideout-menu a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
}


/* Banner */

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: Top;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2) url('./assests/images/55.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;
  
}

.banner h3 {
  padding: 0 24px;
  font-size: 14px;
  letter-spacing: 13px;
  margin-top: 180px; 
}

.banner h1 {
  padding-top: 24px;
  font-size: 64px;
  font-weight: bold;

}


.banner p {
  padding: 24px;
  font-size: 14px; 
}

.container {
  margin-bottom: 5em;
  padding-top: 5em;
}

.jumbotron {
  margin-bottom: 4em;
  width: 100%;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.jumb {
  background: rgba(0, 0, 0, 0.2)  url('./assests/images/38.jpg');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.about {
  height: 60vh;
  background: rgba(0, 0, 0, 0.2)  url('./assests/images/1.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.person-wrapper {
  margin-bottom: 2em;
  margin-top: 0;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  text-align: center;
}

.logo-pic {
  width: 70px;
  height: 75px;
}

.team-logo {
  display: flex;
  align-items: center;
}

/* .team-logo h5 {
  
} */

.row {
  align-items: center
}

.infor{
  margin-bottom: 5em;
  margin-top: 5em;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  text-align: left;
  margin-left: 4em;
}

.infor ul li {
  padding: 5px;
  
}

.infor 
.section {
 margin-top: 3em;
 z-index: 0;
}

.infor 
.section
.section-title{
 text-align: right;
 font-size: 20px;
 font-weight: 600;
}

.infor 
.section p {
 font-size: 16px;
 padding: 2px;
 margin-top: 1em;
 font-display: initial
}

.profile-pic {
  width: 65%;
  border-bottom: 2px solid black;
  margin-bottom: 4px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

h6 {
  margin-top: 4em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron .title {
  font-size: 23.8px;
  font-family: 'Times New Roman', Times, serif;
}

.links{
  color: black;
  margin-top: 5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.links:hover{
  color: rgb(56, 170, 223);
  text-decoration: none;
}



/* .fixture-list ul li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 12px;
  color: black;
  font-size: 12px;
  display: flex;
}


.fixture-list ul li:hover {
  list-style-type: none;
  background-color: #7fffd4ac;
  padding: 5px;
  color: #181515;
}
.fixture-list a {
  color: black;
}
.fixture-list {
  font-size: 10px;
}

.fixture-list ul li:active {
  color: black;
}

Link h3 {
  color:red;
  text-decoration: none;
} */


.section {
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  padding: 4px;
  margin-top: 5em;
}

.card-title {
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-image img{
  width: 110px;
  height: 140px;
}

/* .card-news {
  color: blue;
  display: flex
} */

.section-heading {
  font-size: 32px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: inline-block;
  margin: 5px 0 75px 0;
}


  .learn_more {
    padding: 8px 24px;
    border: 3px solid white;
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: transparent; 
    color: white;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }

  .learn_more:hover {
    background: rgba(46, 133, 214, 0.979);
    text-decoration: none;
    color: white;
}



input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-color: rgb(18, 19, 18);
    box-shadow: none;
}




/* Footer */

.footer {
  background: rgb(2, 11, 63);
  padding: 8px;
  display: flex;
  color: #eee;
}

.footer a {
  color: white;
}

.footer #left-footer {
  flex: 1;
  border-right: 2px solid white;
  padding-left: 32px;
}

.footer #left-footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

.footer #right-footer {
  flex: 2;
  padding: 8px;
  text-align: center;
}

.footer #social-media-footer a .fa-facebook,
.footer #social-media-footer a .fa-youtube,
.footer #social-media-footer a .fa-github {
  color: white;
  transition: 0.4s;
}

.footer #social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.footer #social-media-footer ul li {
  font-size: 43px;
  padding: 0;
  transition: 0.4s;
}

.footer #social-media-footer ul li:hover a .fa-youtube {
  color: red;
}

.footer #social-media-footer ul li:hover a .fa-facebook {
  color: blue;
}

.footer #social-media-footer ul li:hover a .fa-twitter {
  color: rgb(37, 141, 211);
}

/* Media Queries */

@media (max-width: 900px) {
  .nav ul {
      display: none;
  }
  #menu-icon {
      display: flex;
  }
  #slideout-menu{
      display: block;
  }
}

@media (max-width: 719px) {
  .footer {
      flex-direction: column;
      text-align: center;
  }
  .footer #left-footer {
      flex: 1;
      border-right: 0;
      padding: 0;
  }
  .footer #right-footer {
      background: #eee;
      color: black;
  }
  .footer #right-footer a {
      color: black;
  }
  .footer #social-media-footer a .fa-facebook,
  .footer #social-media-footer a .fa-youtube,
  .footer #social-media-footer a .fa-github {
      color: black;
      transition: 0.4s;
  }
}